<main>
    <article class="text-justify">
        <header class="relative text-center sm:mx-8 md:mx-14 lg:mx-24">
            <img  class="block w-full h-auto mx-auto" src="./assets/images/maarten-van-den-heuvel-EzH46XCDQRY-unsplash-2400.jpg" alt="Imagen representativa del Concurso de Cocina Comarcal">
            <h1 class="absolute top-1/2 left-1/2 w-full p-2 m-0 text-white bg-opacity-30 bg-red2-base transform -translate-x-1/2 -translate-y-1/2 text-lg md:text-xl lg:text-2xl xl:text-5xl">Sobre Concurso de Cocina Comarcal</h1>
        </header>
        <p class="p-2 italic text-left text-white bg-opacity-50 bg-red2-base sm:mx-8 md:mx-14 lg:mx-24">Por: <span class="text-light-green-light">Equipo Organizador</span></p>
        <div class="mx-6 sm:mx-16 md:mx-32 lg:mx-52 xl:mx-72">
            <section>
                <include src="./views/about.html"></include>
            </section>  
            <section>
                <include src="./views/judges.html"></include>
            </section>
            <section id="premios" class="scroll-mt-20 md:scroll-mt-16">
                <include src="./views/prizes.html"></include>
            </section>
            <section class="sign-up"> 
                <include src="./views/sign-up.html"></include>
            </section>
            <include src="./views/disclaimer.html"></include>    
    </article>
</main>


