<main>
    <h2 class="heading">Participantes de la comarca</h2>
    <div class="flex flex-wrap justify-center mx-6 sm:mx-16 xl:mx-48">
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/female5.jpg" alt="Participant 1">
            </div>
            <h2>Anna Vidal</h2>
            <p>34 años</p>
            <p>Profesora de bachillerato</p>
            <blockquote>
                <q>Cocinar es un acto de generosidad y cuidado. Me encanta ver cómo mis platos traen sonrisas a los rostros de quienes amo.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/male2.jpg" alt="Participant 2">
            </div>
            <h2>Pol Costa</h2>
            <p>22 años</p>
            <p>Diseñador gráfico</p>
            <blockquote>
                <q>Cocinar es mi forma de expresión. Me permite experimentar, improvisar y crear algo único que refleje mi personalidad y mis gustos.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/male1.jpg" alt="Participant 3">
            </div>
            <h2>Lucas García</h2>
            <p>56 años</p>
            <p>Peluquero</p>
            <blockquote>
                <q>La cocina es un viaje de descubrimiento. Me lleva a explorar nuevos ingredientes, técnicas y culturas, enriqueciendo mi vida de formas inesperadas.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/female3.jpg" alt="Participant 4">
            </div>
            <h2>Laia Roca</h2>
            <p>28 años</p>
            <p>Fotógrafa</p>
            <blockquote>
                <q>La cocina es mi refugio creativo; me encanta perderme entre especias y ingredientes, creando platos que despiertan emociones y recuerdos.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/male9.jpg" alt="Participant 5">
            </div>
            <h2>Oriol Bosch</h2>
            <p>45 años</p>
            <p>Camarero de bar</p>
            <blockquote>
                <q>Cocinar es un acto de amor y conexión. Me inspira la alegría que trae a quienes comparten mi mesa y el vínculo que crea entre culturas.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/female13.jpg" alt="Participant 6">
            </div>
            <h2>Carmen Garriga</h2>
            <p>37 años</p>
            <p>Pediatra</p>
            <blockquote>
                <q>La cocina es mi forma de conectarme con mis raíces y honrar a quienes vinieron antes que yo. Cada receta es un tributo a mi herencia y mi familia.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/female9.jpg" alt="Participant 7">
            </div>
            <h2>Laura Uribe</h2>
            <p>26 años</p>
            <p>Cocinera</p>
            <blockquote>
                <q>Cocinar es mi forma de preservar los sabores de mi tierra y compartirlos con el mundo.</q>
            </blockquote>
        </div>
        <div class="card">
            <div class="card__image">
                <img src="./assets/images/contestants/male7.jpg" alt="Participant 8">
            </div>
            <h2>Martí Serra</h2>
            <p>32 años</p>
            <p>Constructor</p>
            <blockquote>
                <q>Cocinar me permite experimentar con sabores y texturas, y compartir mi pasión con los demás es una experiencia incomparable.</q>
            </blockquote>
        </div>
    </div>
    <section class="sign-up"> 
        <include src="./views/sign-up.html"></include>
    </section>
    <include src="./views/disclaimer.html"></include> 
</main>