<header class="sticky top-0 z-50 flex flex-col md:flex-row md:px-4 md:py-3 lg:p-5 lg:px-8 justify-between items-center p-2 border-b bg-beige text-red2-base">
    <a href="/" class="flex items-center mb-3 md:mb-0 md:mr-auto">
        <img class="pr-1 h-10 lg:h-12" src="./assets/images/logo.png" alt="Logo concurso de cocina">
        <h1 class="text-lg font-bold text-red-dark md:text-xl lg:text-2xl xl:text-3xl md:pt-0 md:pl-1">Concurso de Cocina Comarcal</h1>
    </a>
    <ul class="flex items-center justify-between">
        <li class="text-sm md:text-base xl:text-xl text-center">
            <a class="inline-block hover:underline decoration-1 hover:underline-offset-8 hover:underline-red2-base py-1 px-2 lg:px-5" href="/">Sobre el concurso</a>  
        </li>
        <li class="text-sm md:text-base xl:text-xl text-center">
            <a class="inline-block hover:underline decoration-1 hover:underline-offset-8 hover:underline-red2-base py-1 px-2 lg:px-5" href="./participantes.html">Participantes</a>  
        </li>
        <li class="text-sm md:text-base xl:text-xl text-center">
            <a class="inline-block hover:underline decoration-1 hover:underline-offset-8 hover:underline-red2-base py-1 px-2 lg:px-5" href="./generada-por-ia.html" target="_blank">Página generada por IA</a>  
        </li>
    </ul>
</header>