<h2 class="heading border-t-2 border-t-red2-base">Miembros del Jurado</h2>
<p class="xl:text-xl">Para garantizar la imparcialidad y la excelencia en la evaluación de los platos, hemos reunido un panel de jueces de renombre, expertos en el arte culinario catalán. Su experiencia y conocimiento aportan un valor inestimable al concurso, asegurando que se reconozcan y premien los sabores más auténticos y creativos. A continuación, presentamos a los distinguidos miembros del jurado:</p>
<div class="grid gap-6 md:grid-cols-3 lg:grid-cols-3 py-8 lg:px-6">
    <div class="judge-card">
        <h3>Carles Puentes</h3>
        <div>
            <img src="./assets/images/contestants/male8.jpg" alt="Foto del Juez 1">
        </div>
        <p>Con más de 10 años de experiencia en el mundo culinario, Carles ha sido galardonado con múltiples premios y reconocimientos por su destreza en la cocina mediterránea. Su especialidad radica en la fusión de sabores tradicionales con técnicas innovadoras, creando platos que deleitan los paladares más exigentes.</p>
        <blockquote>
            <i class="fa-solid fa-quote-left"></i>
            <p>Soy un juez duro pero justo, espero vuestros mejores platos.</p>
            <cite>Carles Puentes</cite>
        </blockquote>
    </div>
    <div class="judge-card">
        <h3>Carolina García</h3>
        <div>
            <img src="./assets/images/contestants/female12.jpg" alt="Foto del Juez 2">
        </div>
        <p>Pese a su juventud, Carolina se ha dedicado los últimos cinco años a recorrer el mundo buscando inspiración en una variedad de culturas culinarias. Su enfoque innovador combina técnicas tradicionales con ingredientes exóticos, creando platos que son una verdadera celebración de la diversidad.</p>
        <blockquote>
            <i class="fa-solid fa-quote-left"></i>
            <p>Cada plato es un viaje que cuenta una historia, quiero que me cuentes la tuya.</p>
            <cite>Carolina García</cite>
        </blockquote>
    </div>
    <div class="judge-card">
        <h3>Dolors Torrent</h3>
        <div>
            <img src="./assets/images/contestants/female10.jpg" alt="Foto del Juez 3">
        </div>
        <p>Con una trayectoria de décadas en la industria culinaria, Dolors es una maestra en la cocina tradicional catalana. Su profundo conocimiento de los sabores locales y su habilidad para perfeccionar las recetas clásicas la convierten en una jueza experta.</p>
        <blockquote>
            <i class="fa-solid fa-quote-left"></i>
            <p>La cocina es un arte que se aprende a lo largo de toda la vida.</p>
            <cite>Dolors Torrent</cite>
        </blockquote>
    </div>
</div>